# Exclude Python bytecaches and local virtual environment dependencies
__pycache__/
*.pyc
venv/
.venv/
.env

# CRITICAL: Prevent heavy matrix files and large trained binaries from crashing GitHub pushes
data/raw/*
data/processed/*
saved_models/best_handwritten_model.keras
saved_models/training_history.npy

# Ignore transient local user interface tracking states
.ipynb_checkpoints/
.streamlit/